@model WebApProva2Lab2WevertonCouy.Models.Historico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Historico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoricoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
